<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#222222">
    <title>FrontFest App</title>
    <style>[v-cloak] {visibility: hidden;}</style>
    <link rel="stylesheet" href="./css/fontello.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <svg viewBox="0 0 135.201 111.897" height="50" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M69.897 29.715l12.418 12.457-39.97 40.26-12.756-12.768" fill="#fc0"></path>
                    <path d="M43.956 39.067l-10.75-10.75L0 61.605l21.467-.046z" fill="#ff3b3b"></path>
                    <path d="M67.983 72.835l10.75 10.75 33.206-33.293-21.467.046z" fill="#96b9ff"></path>
                    <path d="M61.095 101.224L50.42 111.897 0 61.605l21.467-.046z" fill="#fd0000"></path>
                    <path d="M50.844 10.673L61.517 0l50.422 50.292-21.467.046z" fill="#69f"></path>
                    <path d="M42.327 82.443V57.058L29.571 69.675z" fill="#ff3b3b"></path>
                    <path d="M69.88 29.726l-.072 25.139 12.507-12.693z" fill="#96b9ff"></path>
                </g>
            </svg>
            #FrontFest19
        </div>
        <a class="feedback" href="http://feedback.frontfest.es">Feedback</a>
    </header>

    <div id="app" class="main-content" v-cloak>
        <div v-if="currentTalk">
            <div v-if="currentTalk">
                <h3>{{ currentTalk.title }}</h3>
                <div class="speaker-info" v-for="speaker in currentTalk.speakers" :key="speaker.twitter">
                    <img class="round-picture" :src="speaker.img">
                    <span>{{ speaker.name }}</span>
                    <a :href="'https://twitter.com/' + speaker.twitter" target="_blank">@{{ speaker.twitter }}</a>
                </div>
            </div>
            <template v-if="allowAskQuestions">
                <h3>Preguntas<span v-if="enableModeration"> (Moderación activada)</span>:</h3>
                <form @submit.prevent="addQuestion" class="ask-question-form">
                    <textarea class="nice-textarea" v-model="newQuestionText" placeholder="¿Alguna pregunta? :)"></textarea>
                    <button type="submit" class="nice-button">
                        <i v-if="sendingQuestion" class="icon-spin6 animate-spin"></i>
                        <i v-else class="icon-paper-plane"></i>
                    </button>
                </form>
            </template>
            <div v-else class="description" v-html="currentTalk.description"></div>
            <transition-group name="questions" tag="div">
                <div
                    v-for="question in sortedQuestions"
                    :key="question.id"
                    v-if="!enableModeration || enableModeration && question.approved"
                    class="question-card"
                    :style="question.userId === userId && {'background-color': 'rgb(200, 218, 255)'}"
                >
                    <div>{{ question.text }}</div>
                    <span class="vote-question" @click="voteQuestion(question)">
                        <i v-if="userVotes[question.id]" class="icon-heart"></i>
                        <i v-else class="icon-heart-empty"></i>
                        <i v-if="sendingVote[question.id] === true" class="icon-spin6 animate-spin"></i>
                        <span v-else>{{ question.votes }}</span>
                    </span>
                </div>
            </transition-group>
        </div>
        <div v-else>
            <h3>Mensajes</h3>
            <p v-for="message in eventMessages">
                <span v-html="message"></span>
            </p>
        </div>
    </div>
    
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-database.js"></script>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

    <!-- App -->
    <script src="talks_info.js"></script>
    <script src="app.js"></script>
</body>
</html>